<div class="faq-wrapper">
    <h1>Frequently Asked Questions</h1>
  
    <mat-form-field appearance="outline" class="faq-search">
      <mat-label>Search questions...</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Type to filter..." />
      <button mat-icon-button matSuffix *ngIf="searchTerm" (click)="searchTerm = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  
    <div class="faq-list">
      <div class="faq-item" *ngFor="let faq of filteredFaqs">
        <h3>{{ faq.question }}</h3>
        <p>{{ faq.answer }}</p>
      </div>
      <p *ngIf="filteredFaqs.length === 0">No questions matched your search.</p>
    </div>
  
    <button mat-raised-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>
  