<h2 mat-dialog-title>Buy ticket</h2>
<mat-dialog-content>
  <form [formGroup]="ticketForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Select seat</mat-label>
      <mat-select formControlName="seat">
        <mat-option *ngFor="let seat of availableSeats" [value]="seat">{{ seat }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Number of tickets</mat-label>
      <input matInput type="number" formControlName="quantity" min="1">
    </mat-form-field>

    <mat-checkbox formControlName="is_group">Group reservation</mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions [style.display]="'flex'" [style.justify-content]="'space-between'">
  <div>
    <button mat-button (click)="onAddFavorite()" *ngIf="!isFavorite">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button (click)="onRemoveFavorite()" *ngIf="isFavorite">
      <mat-icon [style.color]="'#e91e63'">favorite</mat-icon>
    </button>
    <button mat-button (click)="openReportDialog(eventData.eventDetails.event, $event)">
      <mat-icon>report_problem</mat-icon>
    </button>
  </div>
  <a mat-button [routerLink]="['/calendar/event', eventId]">Details</a>
  <button mat-raised-button color="primary" (click)="onPurchase()">Buy</button>
</mat-dialog-actions>
