<div class="regulations-wrapper">
  <h1>Event Platform Regulations</h1>

  <section class="regulations-section">
    <div *ngIf="!isEditMode" class="regulation-text">
      <div class="text-content">
        {{ fullRegulationsText }}
      </div>
    </div>

    <div *ngIf="isEditMode" class="regulation-textarea">
      <textarea [(ngModel)]="fullRegulationsText" rows="20"></textarea>
    </div>
  </section>

  <div class="regulations-buttons">
    <button mat-raised-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> Back
    </button>

    <button mat-raised-button color="warn" (click)="toggleEditMode()">
      <mat-icon>{{ isEditMode ? 'save' : 'edit' }}</mat-icon> {{ isEditMode ? 'Save' : 'Edit' }}
    </button>

    <button mat-raised-button color="accent" (click)="downloadAsTxt()">
      <mat-icon>download</mat-icon> Download
    </button>
    
  </div>
</div>
