<div class="dialog-content">
  <h5 mat-dialog-title *ngIf="!data.id">Add new event</h5>
  <h5 mat-dialog-title *ngIf="data.id">Edit event</h5>
  <div [formGroup]="eventForm">
    <div mat-dialog-content class="scrollable-form" >
      <!-- Title -->
      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Enter event's title" />
      </mat-form-field>

      <!-- Type -->
      <mat-form-field class="form-field">
        <mat-label>Event type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="CONCERT">Concert</mat-option>
          <mat-option value="FESTIVAL">Festival</mat-option>
          <mat-option value="THEATER">Theater</mat-option>
          <mat-option value="SPORTS">Sports</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Artist Name -->
      <mat-form-field class="form-field">
        <mat-label>Artist(s)</mat-label>
        <mat-select formControlName="artists" multiple>
          <mat-option *ngFor="let artist of artists" [value]="artist.id">
            {{ artist.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Number of seats -->
      <mat-form-field class="form-field">
        <mat-label>Number of seats</mat-label>
        <input formControlName="seats_no" matInput type="number" placeholder="Enter number of seats" />
      </mat-form-field>

      <!-- Place -->
      <mat-form-field class="form-field">
        <mat-label>Venue</mat-label>
        <input formControlName="place" matInput placeholder="Enter venue location" />
      </mat-form-field>

      <!-- Price -->
      <mat-form-field class="form-field">
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput type="number" step="0.01" placeholder="Enter ticket price" />
        <span matSuffix>$</span>
      </mat-form-field>

      <!-- Date -->
      <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Start Time -->
      <mat-form-field class="form-field">
        <mat-label>Start Time</mat-label>
        <mat-select formControlName="start_hour">
          <mat-option *ngFor="let time of timeOptions" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- End Time -->
      <mat-form-field class="form-field">
        <mat-label>End Time</mat-label>
        <mat-select formControlName="end_hour">
          <mat-option *ngFor="let time of timeOptions" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Validation Error for Time Range -->
      <div
        *ngIf="eventForm.errors && eventForm.errors['timeRangeInvalid']"
        class="error"
      >
        End time must be after start time.
      </div>

      <!-- Event overlapping error -->
      <div *ngIf="eventForm.errors?.['overlappingEvent']" class="error-message">
        The selected time slot overlaps with an existing event. Please choose a different time.
      </div>

      <!-- Description -->
      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Enter event description (optional)"></textarea>
      </mat-form-field>

      <a *ngIf="data.id" mat-button [routerLink]="['/calendar/event', data.id]">Specify event details (optional)</a>

      <div mat-dialog-actions align="end">

        <!-- Edit Button -->
        <button
          *ngIf="data.id"
          type="submit"
          mat-flat-button
          color="primary"
          (click)="onEditClick()"
          [disabled]="eventForm.invalid"
        >
          Update Event
        </button>

        <!-- Add Button -->
        <button
          *ngIf="!data.id"
          type="submit"
          mat-flat-button
          color="primary"
          (click)="onSaveClick()"
          [disabled]="eventForm.invalid"
        >
          Add Event
        </button>

        <!-- Delete Button -->
        <button
          *ngIf="data.id"
          mat-stroked-button
          color="warn"
          (click)="onDeleteClick()"
          style="margin-left: 10px"
        >
          Delete
        </button>

        <!-- Cancel Button -->
        <button
          mat-stroked-button
          (click)="onNoClick()"
          style="margin-left: 10px"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
