.dialog-content {
  padding: 30px 30px 20px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;

  .scrollable-form {
    overflow-y: auto;
    flex: 1;
    padding-right: 10px; // Optional for scrollbar space
  }

  .form-field {
    width: 100%;
  }

  .error {
    font-style: italic;
    color: rgb(215, 126, 126);
    padding-bottom: 20px;
  }
}
